.box {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.con {
  width: 100%;
}

.icon {
  display: block;
  width: 48px;
  height: 48px;
  margin: 0 auto;
  object-fit: contain;
}

.title {
  color: #000;
  margin-top: 12px;
  text-align: center;
}

.text {
  color: #000;
  margin-top: 4px;
  text-align: center;
}

.refresh {
  color: rgb(51, 95, 205);
  margin-top: 24px;
  text-align: center;
}
