// move
.moveEnterActive,
.moveLeaveActive {
  opacity: 1;
  transform: translate(0, 0);
  transition: all 0.3s linear;
}

.moveEnterFrom {
  transform: translate(-20px, -20px);
  opacity: 0;
}

.moveLeaveTo {
  transform: translate(20px, 20px);
  opacity: 0;
}

// fade
.fadeEnterActive {
  opacity: 1;
  transition: all 0.3s ease-out;
}

.fadeLeaveActive {
  opacity: 1;
  transition: all 0.2s ease-in;
}

.fadeEnterFrom {
  opacity: 0;
}

.fadeLeaveTo {
  opacity: 0;
}
